*{
    background-color: black;
    color: white;
    text-decoration: none;
}
header{

display: flex;
flex-direction: column;

}
a{
    border-style: double;
    border-color: white;
    margin: 2%;
    margin-right: 30%;
    padding: 0%,2%,0%,2%;

}
