*{
    background-color: black;
    color: white;
    text-decoration: none;
}
header{

display: flex;
flex-direction: column;
text-align: center;
border: 1px;
border-color: white;
border-style: solid;
padding: 3%,15%,3%15%;
margin-right: 5%;
margin-left: 5%;
}

a{
    border-style:solid;
    border-color: white;

    margin-right: 10%
    padding: 0%,200%,0%,2%;
    
}
