*{
    background-color: black;
    color: white;
    text-decoration: none;
}
header{

display: flex;
flex-direction: column;
text-align: center;
border: 1px;
border-color: white;
border-style: solid;
padding: 1%,15%,1%15%;
}

a{
    border-style:solid;
    border-color: white;
    margin: 1%;
    padding: 0%,2%,0%,2%;

}
